.form-container2 {
  margin: 100px auto;
  width: 1000px;
  background: #f2ead6;
  box-shadow: 0 5px 8px 0 rgb(63, 61, 61), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.close-btn2 {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-content-right2 {
  margin-top: 10px;
  width: 80%;
  margin-left: 60px;
  background: #351f31;
  border-radius: 100px;
}

.form-content-left2 {
  background: #351f31;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-content-right-group2 {
  background: #351f31;
  margin-left: 1000px;
  margin-right: 500px;
  border-radius: 15px;
}
.form-img2 {
  width: 80%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
